<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 裁剪 -->
        <activity
            android:name="com.yanzhenjie.durban.DurbanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <!-- 相册 -->
        <activity
            android:name="com.yanzhenjie.album.app.album.AlbumActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.yanzhenjie.album.app.album.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.yanzhenjie.album.app.album.NullActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.yanzhenjie.album.app.gallery.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.yanzhenjie.album.app.gallery.GalleryAlbumActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.yanzhenjie.album.app.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Album.Theme.Activity.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <provider
            android:name="com.yanzhenjie.album.provider.CameraFileProvider"
            android:authorities="${applicationId}.app.file.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/album_camera_provider" />
        </provider>
    </application>

</manifest>