<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 外部调取系统相机页 -->
        <activity
            android:name="com.example.gallery.activity.CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 图片裁剪页 -->
        <activity
            android:name="com.yanzhenjie.durban.app.DurbanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Durban.Theme.Activity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <!-- 空页面 -->
        <activity
            android:name="com.yanzhenjie.album.app.album.NullActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <!-- 相册主页 -->
        <activity
            android:name="com.yanzhenjie.album.app.album.AlbumActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <!-- 图片/视频 预览页 -->
        <activity
            android:name="com.yanzhenjie.album.app.album.GalleryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <!-- 图片路径 预览页 -->
        <activity
            android:name="com.yanzhenjie.album.app.gallery.GalleryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <!-- 图片/视频 预览页 -->
        <activity
            android:name="com.yanzhenjie.album.app.gallery.GalleryAlbumActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <!-- 相机跳转页 -->
        <activity
            android:name="com.yanzhenjie.album.app.camera.CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Album.Theme.Activity.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 相机文件 FileProvider -->
        <provider
            android:name="com.yanzhenjie.album.provider.CameraFileProvider"
            android:authorities="${applicationId}.app.file.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/album_camera_provider" />
        </provider>
    </application>

</manifest>