<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mvvm"
    tools:ignore="LockedOrientationActivity">

    <!-- 系统 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--安装权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--震动提示-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--后台服务及窗口-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 安卓11查询权限 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 定位（组） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 定位（额外） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 相机（组） -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 相机（额外） -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 麦克风（组） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 存储空间（组） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:icon,android:theme,android:label"
        tools:targetApi="m">

        <!-- ******************************************************基础全局配置****************************************************** -->
        <!-- 表示当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!--全屏设置-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--AutoSize-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="${DESIGN_WIDTH}" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="${DESIGN_HEIGHT}" />
        <!-- ******************************************************基础全局配置****************************************************** -->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 启动页 -->
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/blueTheme" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme" />

        <!-- ******************************************************解决安卓N+跳系统安装闪退****************************************************** -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mvvm.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ******************************************************解决安卓N+跳系统安装闪退****************************************************** -->

    </application>

</manifest>