<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 系统 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--安装权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--震动提示-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--后台服务及窗口-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 定位（组） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 定位（额外-sdk需要） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 相机（组） -->
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <!-- 相机（额外-开关后背闪光灯） -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 麦克风（组） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 存储空间（组） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup,android:icon,android:theme,android:label"
        tools:targetApi="m">

        <!-- ******************************************************基础全局配置****************************************************** -->
        <!-- 表示当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!--全屏设置-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--AutoSize-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="${DESIGN_WIDTH}" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="${DESIGN_HEIGHT}" />

        <!-- 高德key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_API_KEY}" />
        <!-- ******************************************************基础全局配置****************************************************** -->

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        &lt;!&ndash; 启动页 &ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name=".activity.StartActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/NoAnimTheme" />-->

        <!--        <activity-->
        <!--            android:name=".activity.MainActivity"-->
        <!--            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"-->
        <!--            android:launchMode="singleTask"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/MainTheme"-->
        <!--            android:windowSoftInputMode="stateHidden|adjustUnspecified" />-->

        <!--
            在Android中，configChanges属性用于指示Activity或Fragment可处理哪些配置更改事件。以下是所有可能的configChanges配置：
                mcc：mcc更改
                mnc：mnc更改
                locale：语言环境更改
                touchscreen：触摸屏幕类型更改
                keyboard：物理键盘可见性更改（隐藏/显示）
                keyboardHidden：虚拟键盘可见性更改（隐藏/显示）
                navigation：导航方式更改（方向键等）
                orientation：设备方向更改（横向/纵向）
                screenLayout：屏幕布局更改
                fontScale：字体大小更改
                uiMode：UI模式更改（夜间模式等）
                screenSize：屏幕尺寸更改
                smallestScreenSize：最小屏幕尺寸更改
                layoutDirection：布局方向更改
                例如，以下代码演示如何在AndroidManifest.xml文件中使用configChanges参数声明要处理设备方向更改和屏幕尺寸更改
            <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize">
                在上面的示例中，MainActivity类具有处理设备方向和屏幕尺寸更改的能力，并且不会在这些事件发生时被销毁和重新创建，而是保留其当前状态。
                需要注意的是，虽然使用configChanges参数可以避免Activity或Fragment被销毁并重新创建，但它可能会增加代码复杂性和管理难度。
                因此，在使用configChanges参数时需要仔细权衡利弊，并确保在处理配置更改时正确管理组件状态。
                //一个activity注册时基本标配的属性
                android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
                android:screenOrientation="portrait"

            關於windowSoftInputMode
                stateUnspecified
                默认状态，没有任何特定的行为设置。
                stateUnchanged
                当用户从一个可输入视图跳转到另一个可输入视图时，保持窗口不变。
                stateHidden
                当用户从一个可输入视图跳转到非可输入视图时，隐藏软键盘。
                stateAlwaysHidden
                始终隐藏软键盘。
                stateVisible
                当用户从一个可输入视图跳转到另一个可输入视图时，显示软键盘。
                stateAlwaysVisible
                始终显示软键盘。
                adjustUnspecified
                默认状态，没有任何特定的调整设置。
                adjustResize*
                当软键盘出现时，调整窗口大小以便在屏幕上显示所有内容。
                adjustPan*
                调整当前活动的内容，以便用户可以看到当前获得焦点的视图。
        -->

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 伸縮大圖 -->
        <activity
            android:name="com.example.home.activity.ScaleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- ******************************************************服务****************************************************** -->
        <!-- 高德地图 -->
        <service
            android:name="com.amap.api.location.APSService"
            android:foregroundServiceType="location" />
        <!-- 屏幕录制 -->
        <service
            android:name="com.example.thirdparty.media.service.DisplayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <!-- ******************************************************解决安卓N+跳系统安装闪退****************************************************** -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${PACKAGE_NAME}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ******************************************************解决安卓N+跳系统安装闪退****************************************************** -->

    </application>

</manifest>